<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='stylesheets/index.css' />
    <link rel='stylesheet' href='stylesheets/aboutus.css' />
  </head>
  <body>
<% include template/header.ejs%>
<div class="bg_img"></div>

<div class="container content">
  <h3 class="text-center mb-4">关于我们</h3>
  <div class="content_card">
    <div class="card-deck">
      <div class="card">
        <img src="/images/0001.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">关于逍遥游</h5>
          <p class="card-text">
            逍遥游是一个致力于提供“高品质旅行”为目标的旅游类服务平台，“坚持只做精品旅行，为客户提供高品质的旅游体验和出行保障”为理念，投入大量优质资源，希望能帮助用户花更少的钱，体验更高品质的旅游产品，助推用户消费和品质生活的双重升级。
          </p>
        </div>
      </div>
      <div class="card">
        <img src="/images/0002.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">业务范围</h5>
          <p class="card-text">
            我们的产品线有私家游、精品小团、定制游3种类型，每款产品都反复打磨、严格甄选，以满足斑马旅游品质旅游的高标准，团队内半数以上成员都有留学或是海外工作的经验，力求以最专业的状态服务于每一位用户；同时我们在江苏 ·
            常州成立了客户服务中心，配备了近百人的坐席，确保用户能享受到1对1的专属服务。</p>
        </div>
      </div>
      <div class="card">
        <img src="/images/安徽06颍上八里_001.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">专属定制</h5>
          <p class="card-text">
            我们为自己的创造力和服务水准而自豪，我们的产品经理探索世界，开发出最值得体验的旅行线路，为我们的客人制造最难忘的旅行记忆；我们的定制师深耕目的地，以他们的生活背景，并根据每个客人自身的需求为其定制专属行程；我们的1对1旅行管家都是超人，可以为您解决行中任何问题，让您的出行踏实又安心。
          </p>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-center mt-4">项目分工</h3>
</div>

<div class="growth">
  <div class=" container growth_con">
    <div class="growth_left float-left">
      <div class="growth_div">
        <p>主要负责本次项目的社区页面及功能</p>
        <p class="text-right">组长：吴秋林</p>
      </div>
      <div class="growth_div">
        <p>负责本次项目的登录界面及功能</p>
        <p class="text-right">组员：田野</p>
      </div>
      <div class="growth_div">
        <p>主要负责项目的分类页面，个人界面及搜索功能</p>
        <p class="text-right">组员：曹海滨</p>
      </div>
    </div>

    <div class="growth_right float-right">
      <div class="growth_div">
        <p>主要负责项目的详情界面及推荐等功能</p>
        <p class="text-right">组员：周叶坤</p>
      </div>
      <div class="growth_div"">
        <p>主要负责项目的导航，首页界面</p>
        <p class=" text-right">组员：李宗政</p>
      </div>
      <div class="growth_div"">
        <p></p>
        <p class=" text-right">组员：龙艳</p>
      </div>
    </div>

    <div class="growth_centre float-right">
      <img src="/images/start.png" alt="">
      <img src="/images/timrline.png" alt="">
      <img src="/images/start.png" alt="">
    </div>
  </div>
</div>
<div class="member pt-2">
  <h3 class="text-center mb-4">项目历程</h3>
  <div class="container member_bor">
      <span class="h2 member_span">2019.12.13</span>
        <p class="mt-4">小组讨论确定项目</p>
      <span class="h2 member_span">2019.12.14</span>
      <p class="mt-4">项目确定后，小组讨论项目分工并且设计数据库，根据各自的分工找相应的素材</p>
      <span class="h2 member_span">2019.12.15-2019.12.21</span>
      <p class="mt-4">根据分工各自完成相应的模块</p>
      <span class="h2 member_span">2019.12.22</span>
      <p class="mt-4">项目完成之后，经过大家的的讨论，进行项目整合</p>


  </div>
</div>
<div class="position-fixed div_bot"><img src="/com_img/返回顶部.png" alt=""></div>
<% include template/footer.ejs%>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="javascript/ind.js"></script>
<script src="javascript/header.js"></script>
</body>
<html>