.box_con{
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.whychoice{
    /* border: 1px solid red; */
    /* height: 500px; */
    border-bottom: 1px solid rgb(187, 187, 187);
}
a{
    text-decoration: none;
}

.headline{
    margin: 40px 0;
}

#listbox .con_img{
    border: none;
}


.con_img>img{
    width: 200px;
    height: 200px;
}
.w-33{
    width: 32%;
}
.card_img{
    height: 220px;
}
.card-body>h5{
    font-size: 14px;
}
.card-body>p{
    font-size: 12px;
    color: #bbbbba;
}
.other-message{
    padding: 50px 0;
    
}
.other-message_list{
    width: 371px;
    height: 160px;
    position: relative;
}
.other-message_list>p:nth-of-type(1){
    font-size: 15px;
}
.other-message_list>div{
    font-size: 12px;
    width: 256px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -128px;
}

.other-message>div:nth-of-type(2){
    border-left: 1px solid rgb(187, 187, 187);
    border-right: 1px solid rgb(187, 187, 187);
}
.btn-id>a{
    color: #eee;
}