<div class="footer">
    <div class="footer_text">
        <p>用户协议 | 加入我们 | 了解逍遥游 | 保险服务 |  联系我们</p>
        <p>Copyright 2017-2019 上海歌晨信息技术有限公司 | 沪ICP备 16018253号-2 | 公网安备 31011502013576号</p>
        <p>旅游违法行为举报电话12318 丨服务质量投诉电话 962020 丨违法和不良信息举报电话+8618017380267</p>
    </div>
</div>

<!-- <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="javascript/bootstrap.js"></script>
<script src="javascript/ind.js"></script>
<script src="javascript/header.js"></script>
</body>
</html> -->