<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='stylesheets/index.css' />
    <link rel='stylesheet' href='stylesheets/aboutus.css' />
  </head>
  <body> -->
    <div class="li_header">
        <div class="bor">
            <div class="navbar container box_conn navbar-expand-lg navbar-light">
                <div class="navbar-collapse justify-content-between" >
                  <div class="navbar-nav">
                    <img src="./images/logo.png" alt="">
                  </div>
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="景点名称，ID，关键字" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                  </form> 
                  <div class="navbar-nav">
                     <div id="afterLog">
                       <div id="headImg"></div>
                       <div id="username"></div>
                       <a href="/out" id="logout" >注销</a>
                      </div>     
                    <a href="/login.html" id="beforeLog"><button class="btn btn-outline-success m-2" type="button">登录/注册</button></a>
                    <!-- <a href="/login.html"><button class="btn btn-outline-success m-2" type="button">注册</button></a> -->
                  </div>
                </div>
              </div> 
        </div>
        <div class="nav nav_box">
            <a class="nav-link" href="/">首页</a id='1'>
            <a class="nav-link" href="/classification.html">景点分类</a>
            <a class="nav-link" href="/community">社区</a>
            <a class="nav-link" href="/personal.html">个人中心</a>
            <a class="nav-link" href="/aboutus.html">关于我们</a>
        </div>
    </div>
